html,
body{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	overflow-x:hidden;
	background-color:white !important;
}


.navbar-default{
	margin: 0% !important;

}


.hold{
	margin-top: 0%;
	overflow: auto;
	z-index: 3%;
}

ul.holdright{
	padding: 3%;
	list-style-type: circle;
	
}

.header{
	background-color: white;
	margin: 0 auto;
	width:100%;
	border-bottom-style: solid;
}


#slider{
	width: 100%;
	height: auto;
	float: left;
	overflow-x: hidden;

	margin-top: 2%;
}

.digits{
	margin: 0 auto;
	width: 100%;
	font-weight:bold;
	font-size:2vw;
	text-align: center;
}


.content{
	background-color: white;
	width: 100%;	
}

.content2{
	background-color: white;
	width: 100%;	
}


.clockandwrap{
	width:100%;
	margin:0%;
	height: auto;
	overflow:auto;
}

#wrap {
  float:right;
  width:100%;
  z-index: 1;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: silver;
}

#photos {
  position: relative;
  width: 100%;
  height: 50vw;
  clear: both;
  overflow:hidden;
}

.whole{
	width:85%;
	margin: 0%;
	float: left;
	overflow-y: hidden;
}

.maincolumn{
	float: left;
	width:100%;
	margin-top: 0%;
}

.rightcolumn{
	display: none;
}

.youtube{
	display: none;
}
.footer{
	position: fixed;
	bottom: 0;
	width:100%;
	padding: 1%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:center;
	background-color: #191919;
}

.medialinks{
	margin-left: 1%;
	font-size: 1.5vw;
}

.trend{
	margin-bottom: 2%;
}

.quotebox{
	float:left;
	width:100%;
	border-style:solid;
}

.quote{
	margin: 0 auto;
	width: 80%;
	text-align: center;
	font-size:100%;
	font-style: italic;
	margin-top: 1%;
	font-weight:bold;
	color:black;

}

.hundred{
	width:100%;
   float: left;
	height: auto;
}

.force{
	width: 100%;
	float:left;
	height: auto;
	margin-top: 0.5%;
	margin-bottom: 2%;
}

.numbers{
	width: 100%;
	height: auto;
}

.logo{
	margin: 0 auto;
	width:100%;
	text-align: center;
	font-size: 3vw;
}

.text{
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.text i{
	text-align: center;
}

.number1{
	float: left;
	width: 50%;
}

.number2{
	float:left;
	width: 50%;
}

.upload{
	width:30%;
	margin: 0 auto;
	background-color: blue;
	border-radius: 10px;
	padding: 5%;
	text-align: center;
	font-size:2vw;
	font-weight:bold;
	color: white;
}

#projectadd{
	margin: 0 auto;
    margin-top: 20%;
	margin-bottom:50px;
    overflow-x:hidden;
    width: 280px;
    padding: 3%;
    padding-top: 1%;
	background-color:white;
	box-shadow: 0 0.3125rem 1rem 0 rgba(0,0,0,0.24);

}

#camera2{
	color:#40e0d0;
	cursor:pointer;
	float:left;
	clear:both;
	margin-bottom:5px;
	margin-top:5px;
	border-radius:5px;
	margin-left:50%;
	font-weight:bold;
	font-size:100%;
	text-align:center;
}

#projectpic{
	width:50%;
	height:100px;
	float:left;
	display:none;
}

#full{
	overflow:auto;
	width:100%;
}

#disp{
	width:200px;
	margin-left:15%;
	margin-bottom:10px;
	overflow:hidden;
	background-size:cover;
	border-radius:10px;
		align-self:center;
}

#disp img{
	width:100%;
}

#uploadimage{
	float:left;
	clear:both;
}

.projects{
	margin: 0 auto;
	width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;
	align-content: flex-start;

}

.projectshop{
	margin: 0 auto;
	margin-top: 3%;
	margin-left: 17%;
	width: 75%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;
	align-content: flex-start;

}


.box{
	flex-basis: 30%;
	margin: 5%;
}



.projectimage{
	background-color: white;
	overflow: auto;
	box-shadow: 0 0 1rem 0.5rem rgba(0,0,0,0.24);

	
}


.projectimage img{
	width:100%;
	height:auto;

}

.contain{
	width:100%;
	height: auto;
	margin-top:1%;
	background-color: yellow;
}

.about{
	width:70%;
	margin: 0 auto;
	margin-top: 3%;
	text-align: center;
	margin-bottom: 10%;
	box-shadow: 0 0 1rem 0.5rem rgba(0,0,0,0.24);
	border-radius: 5px;

}

.title{
	width:100%;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: blue;
	font-size: 200%;
	color:black;
	font-weight: bold;
	padding: 1%;

}

ul.points{

	padding: 4%;
	list-style-type: circle;
	
}

ul.points2{
	margin-top: 2%;
}

.points li{
	text-align: center;
	margin-bottom: 2%;
	text-align: left;
}

.points2 li{
	width:100%;
		display:inline-block;
		text-align: center;
	margin-bottom: 2%;

}

.biglink1{
	width:30%;
	margin: 0 auto;
	background-color: blue;
	border-radius: 10px;
	padding: 5%;
	text-align: center;
	font-size:2vw;
	font-weight:bold;
	color: white;
}
.appear{
	width:50%;
	margin: 0 auto;
	margin-top: 1%;
}

.boxbig{
	margin: 0 auto;
	width: 95%;
	margin-top: 15%;
	
}



.projectimagebig{
	margin: 0 auto;
	width:60%;
	overflow: auto;
	margin-bottom: 10%;
	box-shadow: 0 0.3125rem 1rem 0 rgba(0,0,0,0.24);

	

}

.deets{
	margin:0 auto;
	width: 50%;

}
.labelled{
	float:left;
	width:100%;
	font-weight:bold;
	font-size:100%;
	color: black;
}

.details{
	width:100%;
	margin-bottom: 2%;
}

.estimate{
	width:100%;
	margin-bottom: 2%;
}

.location{
	width:100%;
	margin-bottom: 2%;
}

.questionit{
	width:100%;
	text-align: center;
	color:white;
	background-color: blue;
	padding: 1%;
	font-weight:bold;
	font-size:150%;
	margin-top: 3%;
}

.theform{
	width:35%;
	height:auto;
	font-size:1vw;
	margin: 0 auto;
	margin-top: 2%;
}

.float{
	text-align:left;
	width:100%;
	float: left;
	font-size:1vw;
	margin-left: 20%;
}

#next2{
	margin-bottom: 3%;
}

#updatecrop{
	margin:0 auto;
	margin-top:22%;
	margin-bottom:30%;
	border-radius:15px;
	overflow:auto;
	width:60%;
	padding:4%;
	background-color:white;
	box-shadow: 0 0.3125rem 1rem 0 rgba(0,0,0,0.24);

}


#upload-demo{
	margin-bottom:0%;
}

#upload{
	display:none;
	margin:0 auto;
	
}



#camera2{
	color:#40e0d0;
	cursor:pointer;
	float:left;
	clear:both;
	margin-bottom:5px;
	margin-top:5px;
	border-radius:5px;
	margin-left:50%;
	font-weight:bold;
	font-size:100%;
	text-align:center;
}


.branddiv{
		float:left;
	width:auto;
	padding:0%;
}

.brand{
width:100%;
	font-size:5vw;
	font-weight:700;
	margin-left: 20%;
}

.linkbox{
	overflow: hidden;
	display: flex;
	width: 80%;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:center;
	margin: 0 auto; 
}

.linkbox a{
	text-decoration: none;
}

.link{
	text-decoration: none !important;
	flex-basis: 9%;
	color:white;
	font-weight:bold;
	font-size: 50%;
	margin-bottom: 5px;

}

.link:hover{
	color:red;
}

.linkbox .icon {
	display: none;
}

.icon{
	display: none;
}

#loginbox{
	margin-top: 5%;
	padding-left: 0%;
	padding-right: 0%;
	padding-bottom: 0% !important;

	box-shadow: 0 0.3125rem 1rem 0 rgba(0,0,0,0.24);


}

.price{
	width:100%;
	padding:1%;
	border-style: solid;
	color:#40e0d0;
}

.desc{
	width: 100%;
	padding: 1%;
	margin-top: 1%;
	text-align: center;
}
.desclabel{
	width:100%;
	text-align: left;
	font-weight: bold;
	margin-top: 3%;
	color: blue;
}

.box{
	text-decoration: none !important;
	color:black;
	font-weight: bold;
}

.descr{
	width: 100%;
	margin-top: 3%;

}

.panel-heading{
	 font-size: 150%;
	 color:#551A8B !important;
}

#color{
	background-color: #551A8B !important;
	position: fixed;
	top:0%;
	width:100%;
}

#myTopNav{
	background-color: #551A8B;
}
.dropdown-toggle{
	margin-right: 3%;

}

.dropdown{
	width:40%;
}

#topright{
	width: min-width:200px !important;
	clear:none !important;
}

.caret{
	float: right;
}

#white{
	color: white;
}
.centered{
	width: 100%;
	margin:0 auto;
}
.svg{
	display: block;
	margin: 0 auto;
	width:60%;
}

#space{
	display: block
	margin: 0 auto;
	margin-top: 3%;
	box-shadow: 0 0.3125rem 1rem 0 rgba(0,0,0,0.24);
	width: 60%;
	min-height: 25vw;
	border-radius: 5px;
}

#spacetwo{
	margin: 0 auto;
	display: block
	margin: 0 auto;
	margin-bottom: 5%;
	box-shadow: 0 0.3125rem 1rem 0 rgba(0,0,0,0.24);
	width: 60%;
	min-height:500px;
	border-radius: 10px;
	
}


#spacethree{
	margin: 0 auto;
	display: block;
	margin-top:5vw;
	margin-bottom: 10%;
	box-shadow: 0 0.3125rem 1rem 0 rgba(0,0,0,0.24);
	width: 60%;
	min-height:500px;
	border-radius:10px;
	
}


.vert{
	margin: 0 auto;
	width:30%;
	margin-top: 3%;
	display: flex;
	align-content: space-around;
	flex-direction: column;
}


.verto{
	margin: 0 auto;
	width:30%;
	padding-top: 5%;
	display: flex;
	align-content: space-around;
	flex-direction: column;
}

.big{
	font-size: 150%;
	margin: 5%;
}

.bigtwo{
	font-size: 100%;
	margin: 5%;
}

.rad{
	
}

.flexone{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.flextwo{
	width:100px;
	padding: 1%;
	text-align: center;
	background-color: blue;
	color: white;
	border-radius: 5px;
		box-shadow: 0 0.3125rem 1rem 0 rgba(0,0,0,0.24);
		margin: 2%;

}

#top{
	margin-top: 3%;
	flex-basis:40%;
}

.worksboxes{
	flex-basis:30%;
}

.searchwhole{
	margin:0 auto;
	margin-top: 3%;
	width:100%;

}

.searchform{
	margin: 0 auto;
	width: 50%;
	
}

.thecounty{
	padding:2%;
	width: 100%;
}

.job{
	padding:2%;
	width: 100%;
}

.resbox{
	width:40%;
	margin: 0 auto;
}

.resimage{
	width:30%;
	float:left;
}

.name{
	width: 50%;
	float:right;
}

#mid{
	text-align:center;
	margin:0 auto;
	color:black;
	font-weight:bold;
}

#mid2{
	width:3%;
	margin:0 auto;
	text-align:center;
}

#post-data2{
	margin:0 auto;
	display: block;
	width:100%;
	padding-bottom:10%;
	margin-bottom:60px;
	overflow:auto;
	background-color:white;
	margin-top: 5%;
	padding-top: 3%;
	padding-left: 2%;
}

.contained{
	margin-left: 3%;
	margin-right: 3%;
}


.pushdown{
	margin-bottom: 5%;
}

.black{
	color:black;
	margin-bottom: 8%;
}


.centered{
	display:block;
	margin:0 auto;
	width:98%;
	margin-top: 30%;
	
}

.globed{
	display: flex;
	flex-wrap: nowrap;

}



@media screen and (min-width:700px ){

.leftcolumn{
	position: fixed;
	left: 0%;
	top:3%;
	z-index:1;
	background-color: #551A8B;
	width:10%;
	height: 70vw;
	overflow-y: hidden;

}

.leftrows{
	text-decoration: none;
	float:right;
	color:white;
	width:100%;
}

.holdleft{
	padding-top: 50%;
}

.holdleft a{
	text-decoration: none;
	color:white;
	padding: 25%;

}

.holdleft a:hover{
	color:white;
}

}

#lefter{
	margin: 2%;
}

.ctext{
	display: block;
	margin: 0 auto;
	font-style:italic;
	text-align: center;
	font-size:150%;
}

.cimage{
	display: block;
	margin: 0 auto;
	width:30%;
}

.centered{
	display:block;
	margin:0 auto;
	width:90%;
	margin-top: 5%;
}

#post-data2{
	margin-top: 1%;
	padding-top: 1%;
}


#space{
	display: block;
	margin: 0 auto;
	box-shadow: 0 0.3125rem 1rem 0 rgba(0,0,0,0.24);
	width: 60%;
	height: 20vw;
	margin-bottom: 5%;
	border-radius: 10px;

}

.force{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin-top: 2%;
}
	.labelled{
	float:left;
	width:100%;
	font-weight:bold;
	font-size:1vw;
	color: black;
}

.quotebox{
	width:97%;
	height:auto;
	border-style: solid;
	margin:0 aut0;
}

.quote{
	margin: 0 auto;
	width: 40%;
	font-size:150%;
	font-style: italic;
	margin-top: 1%;
	font-weight:bold;
	color:black;

}

.hundred{
	width:20%;
   float: left
	
}

#slider{
	width:40%;
	height: 150px !important;
	max-width: 40%;
	float: left;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-top: 0%;
	
}

.youtube{
	display: block;
	float: left;
	width:300px;
	height:150px;
	
}

#photos{
	height: 20vw;
}

.maincolumn{
	width: 85%;
}

.rightcolumn{
	display: block;
	width:15%;
	max-width: 15%;
	border-left-style: solid;
	background-color: #551A8B;
	color: white;
	float: right;
	padding: 2%;
	height: 70vw;
	overflow-y: hidden;
}

.link{
	text-decoration: none !important;
	flex-basis: 9%;
	color:white;
	font-weight:bold;
	font-size: 100%;

}


.branddiv{
	text-align: center;
	width:100%;
	
}

.brand{

	margin: 0 auto;
	color:white;
	width:100%;
	text-align: center;
	font-size:2vw;
	font-weight:700;
	

}

#updatecrop{
	width:200px !important;
	margin-top:5%;
	padding:2%;
	min-height:30vw;
	overflow:auto;
	box-shadow: 0 0.3125rem 1rem 0 rgba(0,0,0,0.24);

}

.deets{
	float:right;
	width: 40%;
	margin-left: 4%;
}


.projectimagebig{
	float:left;
	width:50%;
}

.projectimagebig2{

	margin:5%;
	width:35%;
	margin: 0 auto;
}

.projectimagebig2{

}

.boxbig{
	margin: 0 auto;
	width:50%;
	margin-top: 8%;

}

.boxbig2{
	margin: 0 auto;
	width:50%;

}

.box{
	flex-basis:20%;
	margin-right: 2%;
	margin-left: 2%;
	margin-bottom: 1%;
}

#uploadimage{
	float:left;
	clear:both;
	margin-top: 3%;
}

#disp{
	width:400px;
	margin-left:15%;
	margin-bottom:10px;
	overflow:hidden;
	background-size:cover;
	border-radius:10px;
		align-self:center;
}

#camera2{
	clear:both;
	margin:0 auto;
	margin-left:50%;
	margin-bottom:2%;

}

#projectadd{
	margin: 0 auto;
    margin-top: 5%;
	margin-bottom:50px;
   
    overflow: auto;
    width: 50%;
    padding: 3%;
    padding-top: 1%;

}

	}








	@media screen and (max-width:700px){
	.linkbox a{ display: none; }
	.linkbox a.icon{
		width: 100%;
		float: left;
		display: block;
	}
}

@media screen and (max-width: 700px){
	.linkboxresponsive{
		position:fixed; 
		background-color: yellow;
		z-index:101;
		width:100%;
		left: 0;
		padding-top: 6%;
		padding-left: 6%;
	}

	.linkboxresponsive a.icon{
		position: absolute;
		left:0;
		top:0;
	}
	.linkboxresponsive a{
		float:none;
		display: block;
		text-align: left;
		font-size:100%;
		margin-top: 5px;
	}
}